body {
    padding: 0;
    margin: 0;
    /* background: #f2f6e9; */
}

.img-responsive {
    width: 200px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    color: #fff;
}

.nav-item {
    font-size: 20px;
}

.nav-item:hover {
    background-color: #ff9900;
}

.nav-link {
    color: #fff;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #ff9900;
    color: #fff;
}

.navbar {
    color: #fff;
}

.navbar-toggler-icon {
    color: #ff9900;
}

.dropdown {
    display: none;
    margin-left: -32px;
    position: absolute;
    list-style: none;
    z-index: 1;
    transition: 0.3s;
}

nav ul li:hover > ul {
    display: block;
}

.dropdown .element {
    padding-left: 8px;
}

.dropdown .element:hover {
    background-color: #ff9900;
}

@media only screen and (max-width: 600px) {
    .dropdown {
        display: none;
        margin-left: 0px;
        padding-left: 0px;
        position: absolute;
        list-style: none;
        z-index: 1;
        transition: 0.3s;
    }

    nav ul li:hover > ul {
        display: block;
        background-color: #ff9900;
    }

    .dropdown .element {
        padding: 0;
    }
}

/* HOME PAGE */

.home-page {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)),
    url('../Images/main_background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.home-page .container {
    margin-top: 220px;
}

.home-page button {
    color: #fff;
    border-radius: 0;
    border: 1px solid #fff;
}

.home-page button a {
    text-decoration: none;
    color: #fff;
}

.home-page button:hover {
    color: #fff;
    background: #ff9900;
}

/* MODAL */

.modal {
    margin-top: 7.2vh;
}

.modal .col .image {
    text-align: center;
}

.modal .cover {
    box-shadow: 5px 10px 5px grey;
}

.modal .name {
    font-weight: bold;
    margin-bottom: 1vh;
}