<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Please sign in</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
  <link th:href="@{/css/bl-styles.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<nav class="navbar navbar-expand-lg py-1 fixed-top">
  <div class="container">
    <a href="#" class="navbar-brand p-2">
      <img
              class="img-responsive"
              th:src="@{Images/logo.png}"
              alt="logo"
              style="width: 130px"
      />
    </a>
  </div>
</nav>

<section class="content p-2">
  <div class="container">
    <div class="container login">
      <form class="form-signin" method="post" action="/content/login">
        <h2 class="form-signin-heading">Sign In</h2>
        <p>
          <label for="username" class="sr-only">Username</label>
          <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
        </p>
        <p>
          <label for="password" class="sr-only">Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </p>

        <button class="btn btn-lg btn-warning btn-block" type="submit">Sign in</button>
      </form>
      <p><a href="#">Don't have an account? Sign Up</a></p>
    </div>
  </div>
</section>
</body>
</html>